{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        <!--\error message aplies only if error message occurs from result.view in try/except block on reslut page and is sent to this template.
             Until then, it is not used. Predefinition ofpotetional error.-->
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
        <!--choice.id is there because name="choice" id="choice{{ forloop.counter }}, thats is why of name choice, I want id.-->
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
    </form>